commands:
  01_backup_images:
    command: "if [ -d /var/app/current/static/images ]; then cp -r /var/app/current/static/images /tmp/; fi"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_restore_images.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Check if backup exists and restore it
      if [ -d /tmp/images ]; then
        cp -r /tmp/images /var/app/ondeck/static/
      fi
