files:
  "/etc/cron.d/send_daily_emails":
    mode: "000644"
    owner: root
    group: root
    content: |
      * 11 * * * root /var/app/venv/staging-LQM1lest/bin/python /var/app/current/scheduler.py >> /var/log/scheduler.log 2>&1

commands:
  remove_old_cron_jobs:
    command: "rm -f /etc/cron.d/send_daily_emails.bak"