files:
  "/etc/cron.d/send_daily_emails":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Daily email job at 6:00AM Monday through Friday
      0 6 * * 1-5 root /var/app/venv/staging-LQM1lest/bin/python /var/app/current/scheduler.py >> /var/log/scheduler.log 2>&1
      
      # Weekly email job on Sunday at 5:00 PM
      0 17 * * 0 root /var/app/venv/staging-LQM1lest/bin/python /var/app/current/scheduler_weekly.py >> /var/log/scheduler_weekly.log 2>&1

commands:
  remove_old_cron_jobs:
    command: "rm -f /etc/cron.d/send_daily_emails.bak"
