th {
    text-align: left;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

.property-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    color: #272343;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.98;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.property-tile:hover {
    transform: scale(1.005);
    opacity: 1;
}

.property-image {
    width: 80%; /* Set the width of the image to cover the full width of its container */
    height: 200px; /* Adjust this value based on your design requirements */
    object-fit: contain; /* This will ensure that the image covers the allocated area without distortion */
    display: block;
    margin: 0 auto;

    
}


.property-content {
    padding: 8px;
}

a {
    text-decoration: none;
    color: black;
}

.property-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cs-button-4 {
    text-align: center;
    align-items: center;
    font-size: 1rem;
    line-height: clamp(1.4375rem, 4vw, 1.75rem);
    text-decoration: none;
    font-weight: 700;
    min-width: 5.4375rem;
    margin: auto;
    color: #fff;
    padding: 0 1.5rem;
    box-sizing: border-box;
    background-color: #808080;
    box-shadow: 1px 1px 0px 0px #C0C0C0;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.cs-button-4:hover {
    background-color: #b7b7b7;
    box-shadow: 0px 0px 0px 0px var(--primary);
}

.property-content tr {
    padding-bottom: 20px;
}

.calendar-grid {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 6px; /* Increase the gap between each tile */
    padding: 20px 0;
    grid-auto-rows: 150px;
}

.day-dropdown {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px;
}

.day-date {
    position: absolute;
    top: 10px; /* Adjust the position */
    left: 10px;
    font-weight: bold;
    font-size: 1.4em; /* Increase the font size for readability */
}

.current-day .day-date {
    /* Same styles as before */
    background-color: rgb(195, 0, 0);
    color: #fff;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}

.day-dropdown:hover {
    background-color: #eaeaea;
}

.dropdown-btn {
    /* Same styles as before */
    font-size: 1em;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    border: none;
    padding: 8px 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
    background-color: #333333;
    transform: scale(1.005);
    transition: background-color 0.3s ease;
}

.dropdown-content {
    display: none;
    padding: 10px;
}

.property-tile {
    /* Same styles as before */
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #000000;
}

.no-properties {
    background-color: #d7d7d7;
}

.no-properties:hover {
    background-color: #d7d7d7;
    transform: none;
    opacity: 0.98;
}

.highlight-today {
    background-color: #bababa;
}

.highlight-today:hover {
    background-color: #eaeaea;
}

.month-header {
    text-align: center;
    text-transform: capitalize;
    
    font-size: larger;
}

.calendar-header {
    display: contents;
    padding: 2px;
}

.calendar-header div {
    text-align: center;
    background-color: #f0f0f0;
    padding: 2px 0;
    font-weight: bold;
}

.month-nav {
    text-align: center;
    margin-bottom: 20px;
}

.month-nav a {
    text-decoration: none;
    font-size: 24px;
    margin: 0 15px;
    color: black; /* Adjust color as needed */
}

.month-header {
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.month-nav span {
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    margin: 0 10px; /* Adjust spacing as needed */
}

.list-view {
    display: block;
}

.list-view .property-tile {
    display: flex;
    flex-direction: row;
    
    margin: 5px 0; /* Adjust spacing between list items */
    height: 400px;
}

.list-view .property-image {
    display: block;
    
}

.list-view .property-content {
    display: block;
}


