<!DOCTYPE html>
<html>

<head>
    <title>BONAVENTURA ADMIN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdowns = document.querySelectorAll('.dropdown-btn');
            dropdowns.forEach(dropdown => {
                dropdown.addEventListener('click', function() {
                    this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'block' ? 'none' : 'block';
                });
            });
        });
    </script>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>

<body>
    <div class="wrapper">
        <header id="cs-navigation">
            <div class="cs-container">
                <!--Nav Logo-->
                <a href="{{ url_for('home') }}" class="cs-logo" aria-label="back to home">
                    <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="logo" width="210"
                        height="29" aria-hidden="true" decoding="async">
                </a>
                <!--Navigation List-->
                <nav class="cs-nav" role="navigation">
                    <!--Mobile Nav Toggle-->
                    <button class="cs-toggle" aria-label="mobile menu toggle">
                        <div class="cs-box" aria-hidden="true">
                            <span class="cs-line cs-line1" aria-hidden="true"></span>
                            <span class="cs-line cs-line2" aria-hidden="true"></span>
                            <span class="cs-line cs-line3" aria-hidden="true"></span>
                        </div>
                    </button>
                    <div class="cs-ul-wrapper">
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            
                            <li class="cs-li">
                                <a href="{{ url_for('add_user') }}" class="cs-li-link">
                                    <p class="cs-topper">Add User</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('upload_pdf') }}" class="cs-li-link">
                                    <p class="cs-topper">Upload PDF</p>
                                </a>
                            </li>


                            <li class="cs-li">
                                <a href="https://salesweb.civilview.com/Sales/SalesSearch?countyId=7" target="_blank"
                                    class="cs-li-link">
                                    <p class="cs-topper">Bergen County Addresses</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center; margin-bottom: 20px;">
            <form action="{{ url_for('admin') }}" method="get">
                <label for="county">Select County:</label>
                <select name="county" id="county">
                    <option value="">All Counties</option>
                    {% for county in counties %}
                    <option value="{{ county }}" {% if request.args.get('county')==county %}selected{% endif %}>{{
                        county }}</option>
                    {% endfor %}
                </select>
                <button type="submit">SORT</button>
            </form>

        </div>

        <div class="property-grid">
            {% for property in properties %}
            <div class="property-tile">
                <!-- Wrap the contents in an anchor tag -->
                <a href="{{ url_for('property_details', id = property['id']) }}" class="property-link">
                    <img class="property-image" src="{{ property['photo_url'] }}" alt="Agent Uploading Image Soon">
                    <div class="property-content">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="text-align: left; color: #ff6a3e; font-weight: bolder;">Address</td>
                                    <td style="text-align: right; font-weight: bold;">{{ property['addresses'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #ff6a3e; font-weight: bold;">County</td>
                                    <td style="text-align: right;">{{ property['county'] }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fi fi-ss-bed-empty"></i></td>
                                    <td style="text-align: right;">{{ property['bedrooms'] }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fi fi-ss-shower"></i></td>
                                    <td style="text-align: right;">{{ property['bathrooms'] }}</td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Sqft</td>
                                    <td style="text-align: right;">{{ property['livingArea'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Acres</td>
                                    <td style="text-align: right;">
                                        {% if property['lotSize'] %}
                                        {{ "%.2f"|format((property['lotSize']) / 43560) }}
                                        {% else %}
                                        Not Available
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Date of Sale</td>
                                    <td style="text-align: right;">{{ property['dateOfSale'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Time of Sale</td>
                                    <td style="text-align: right;">{{ property['timeOfSale'] }}</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </a>
                <div class="property-buttons">
                    <a href="{{ url_for('edit_address', id=property['id']) }}" class="cs-button-4"
                        aria-label="read more about us">Edit</a>
                    <a href="{{ url_for('delete_address', id=property['id']) }}" class="cs-button-4"
                        aria-label="read more about us">Delete</a>
                    <a href="" class="cs-button-4" aria-label="read more about us">Add Photos</a>
                    <a href="" class="cs-button-4" aria-label="read more about us">Bid</a>

                </div>

            </div>
            {% endfor %}
        </div>

        <div class="calendar-grid">
            {% for date, properties_on_date in properties_by_date.items() %}
                <div class="day-dropdown">
                    <button class="dropdown-btn">{{ date }}</button>
                    <div class="dropdown-content">
                        {% for property in properties_on_date %}
                        <div class="property-tile">
                            <!-- Wrap the contents in an anchor tag -->
                            <a href="{{ url_for('property_details', id = property['id']) }}" class="property-link">
                                <img class="property-image" src="{{ property['photo_url'] }}" alt="Agent Uploading Image Soon">
                                <div class="property-content">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left; color: #ff6a3e; font-weight: bolder;">Address</td>
                                                <td style="text-align: right; font-weight: bold;">{{ property['addresses'] }}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #ff6a3e; font-weight: bold;">County</td>
                                                <td style="text-align: right;">{{ property['county'] }}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fi fi-ss-bed-empty"></i></td>
                                                <td style="text-align: right;">{{ property['bedrooms'] }}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fi fi-ss-shower"></i></td>
                                                <td style="text-align: right;">{{ property['bathrooms'] }}</td>
                                            </tr>
                                            <br>
                                            <tr>
                                                <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Sqft</td>
                                                <td style="text-align: right;">{{ property['livingArea'] }}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Acres</td>
                                                <td style="text-align: right;">
                                                    {% if property['lotSize'] %}
                                                    {{ "%.2f"|format((property['lotSize']) / 43560) }}
                                                    {% else %}
                                                    Not Available
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Date of Sale</td>
                                                <td style="text-align: right;">{{ property['dateOfSale'] }}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #ff6a3e; font-weight: bold;">Time of Sale</td>
                                                <td style="text-align: right;">{{ property['timeOfSale'] }}</td>
                                            </tr>
            
            
                                        </tbody>
                                    </table>
                                </div>
                            </a>
                            <div class="property-buttons">
                                <a href="{{ url_for('edit_address', id=property['id']) }}" class="cs-button-4"
                                    aria-label="read more about us">Edit</a>
                                <a href="{{ url_for('delete_address', id=property['id']) }}" class="cs-button-4"
                                    aria-label="read more about us">Delete</a>
                                <a href="" class="cs-button-4" aria-label="read more about us">Photos</a>
            
                            </div>
            
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <section id="table-1669">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">User Management Table</span>



                    <table class="cs-table">
                        <thead>
                            <tr class="cs-color">

                                <th class="cs-th">Username</th>
                                <th class="cs-th">Email</th>
                                <th class="cs-th">Phone</th>
                                <th class="cs-th">Role</th>
                                <th class="cs-th">Edit</th>
                                <th class="cs-th">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr class="cs-tr">

                                <td class="cs-td">{{ user['username'] }}</td>
                                <td class="cs-td">{{ user['email'] }}</td>
                                <td class="cs-td">{{ user['phone'] }}</td>
                                <td class="cs-td">{{ user['role'] }}</td>
                                <td class="cs-td"><a href="{{ url_for('edit_profile', user_id=user.id) }}"
                                        class="btn">Edit</a></td>
                                <td class="cs-td"><a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn"
                                        onclick="return confirm('Are you sure?')">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <footer>
            <p>© Bonaventura</p>
        </footer>

    </div>
</body>

</html>