<!DOCTYPE html>
<html>

<head>
    <title>Bonaventura</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdowns = document.querySelectorAll('.dropdown-btn');
            dropdowns.forEach(dropdown => {
                dropdown.addEventListener('click', function() {
                    this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'block' ? 'none' : 'block';
                });
            });
        });
    </script>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>

<body>
    <div class="wrapper">
        <header id="cs-navigation">
            <div class="cs-container">
                <!--Nav Logo-->
                <a href="{{ url_for('admin') }}" class="cs-logo" aria-label="back to home">
                    <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="logo" width="210"
                        height="29" aria-hidden="true" decoding="async">
                </a>
                <!--Navigation List-->
                <nav class="cs-nav" role="navigation">
                    <!--Mobile Nav Toggle-->
                    <button class="cs-toggle" aria-label="mobile menu toggle">
                        <div class="cs-box" aria-hidden="true">
                            <span class="cs-line cs-line1" aria-hidden="true"></span>
                            <span class="cs-line cs-line2" aria-hidden="true"></span>
                            <span class="cs-line cs-line3" aria-hidden="true"></span>
                        </div>
                    </button>
                    <div class="cs-ul-wrapper">
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="{{ url_for('admin') }}" class="cs-li-link">
                                    <p class="cs-topper">Calendar</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('upload_pdf') }}" class="cs-li-link">
                                    <p class="cs-topper">Upload PDF</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('admin_usercontrol') }}" class="cs-li-link">
                                    <p class="cs-topper">Users</p>
                                </a>
                            </li>
                            
                            <li class="cs-li">
                                <a href="{{ url_for('admin_bids') }}" class="cs-li-link">
                                    <p class="cs-topper">Bids</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('edit_profile') }}" class="cs-li-link">
                                    <p class="cs-topper">Account</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section id="table-1669">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Admins</span>
                    <table class="cs-table">
                        <thead>
                            <tr class="cs-color">
                                <th class="cs-th">Name</th>
                                <th class="cs-th">Username</th>
                                <th class="cs-th">Email</th>
                                <th class="cs-th">Phone</th>
                                <th class="cs-th">Role</th>
                                <th class="cs-th">Edit</th>
                                <th class="cs-th">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                {% if user['role'] == 2 %}
                                    <tr class="cs-tr">
                                        <td class="cs-td">{{ user['first_name'] }} {{ user['last_name'] }}</td>
                                        <td class="cs-td">{{ user['username'] }}</td>
                                        <td class="cs-td">{{ user['email'] }}</td>
                                        <td class="cs-td">{{ user['phone'] }}</td>
                                        <td class="cs-td">Admin</td>
                                        <td class="cs-td"><a href="{{ url_for('edit_user', user_id=user['id']) }}" class="btn" onclick="return confirm('Are you sure?')">Edit</a></td>
                                        <td class="cs-td"><a href="{{ url_for('delete_user', user_id=user['id']) }}" class="btn" onclick="return confirm('Are you sure?')">Delete</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        
        <section id="table-1669">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Subscribers</span>
                    <table class="cs-table">
                        <thead>
                            <tr class="cs-color">
                                <th class="cs-th">Name</th>
                                <th class="cs-th">Username</th>
                                <th class="cs-th">Email</th>
                                <th class="cs-th">Phone</th>
                                <th class="cs-th">Role</th>
                                <th class="cs-th">Subscription</th>
                                <th class="cs-th">Edit</th>
                                <th class="cs-th">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                {% if user['role'] == 0 %}
                                    <tr class="cs-tr">
                                        <td class="cs-td">{{ user['first_name'] }} {{ user['last_name'] }}</td>
                                        <td class="cs-td">{{ user['username'] }}</td>
                                        <td class="cs-td">{{ user['email'] }}</td>
                                        <td class="cs-td">{{ user['phone'] }}</td>
                                        <td class="cs-td">Subscriber</td>
                                        <td class="cs-td">{{ user['subscription_level'] }}</td>
                                        <td class="cs-td"><a href="{{ url_for('edit_user', user_id=user['id']) }}" class="btn" onclick="return confirm('Are you sure?')">Edit</a></td>
                                        <td class="cs-td"><a href="{{ url_for('delete_user', user_id=user['id']) }}" class="btn" onclick="return confirm('Are you sure?')">Delete</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <a href="{{ url_for('add_user') }}" class="cs-li-link">
                        <p class="cs-topper">Add User</p>
                    </a>
                </div>
            </div>
            
        </section>

        <!--
        <a href="/send-test-email" class="btn btn-primary">Send Daily Properties Email</a>
        -->

        
        
        <footer>
            <p>© Bonaventura</p>
        </footer>

    </div>
</body>

</html>