<!-- templates/bid.html -->
<!DOCTYPE html>
<html>
<head>
    <title>BID</title>
    <style>
        body {
            font-family: monospace, sans-serif;
            background: #272343; /* Gradient from #272343 to a slightly lighter shade */
            color: #ffffff; /* White text for readability on dark background */
        }
    </style>
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="Logo" style="height: 50px;">
        </a>
    </header>
</head>
<body>
    <h1>PLACE A BID</h1>
    <form action="/submit_bid/{{ property_id }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ user['username'] }}" readonly>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user['email'] }}" readonly>
    
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" value="{{ user['phone'] }}" readonly>
    
        <label for="bid">Bid Amount:</label>
        <input type="number" id="bid" name="bid">
    
        <!-- ... rest of the form ... -->
    </form>
</body>
</html>
