<!DOCTYPE html>
<html lang="en">
<head>
    <title>CREATE BONAVENTURA ACCOUNT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/html.css') }}">
</head>
<body>
    <section id="contact-718">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Creating a Bonaventura account.</span>
                <h2 class="cs-title">$xx.xx/month</h2>
                <p class="cs-text">
                    
                    Subscribers get access to our exclusive database of properties.
                </p>
                <!-- Form structure from the second form with content from the first form -->
                <form class="cs-form" id="cs-form-718" name="Contact Form" action="/create_user" method="post">
                    <label for="username" class="cs-label">
                        Username
                        <input class="cs-input" type="text" id="username" name="username" required placeholder="Username">
                    </label>
                    <label class="cs-label cs-email">
                        Password
                        <input class="cs-input" type="password" id="password" name="password" required placeholder="Password">
                    </label>
                    <label class="cs-label cs-phone">
                        Email
                        <input class="cs-input" type="email" id="email" name="email" required placeholder="Email">
                    </label>
                    <label class="cs-label">
                        Phone Number
                        <input class="cs-input" type="tel" id="phone" name="phone" placeholder="Phone Number">
                    </label>
                    <label class="cs-label">
                        Role
                        <select class="cs-input" id="role" name="role">
                            <option value="0">Subscriber</option>
                            <option value="1">Agent</option>
                            <option value="2">Admin</option>
                        </select>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">Subscribe</button>
                    
                </form>
            </div>
        </div>
    </section>

    <footer>
        <p>© Bonaventura</p>
    </footer>
    
    
</body>
</html>