<!DOCTYPE html>
<html>

<head>
    <title>BONAVENTURA ADMIN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</head>

<body>
    <div class="wrapper">
        <section id="contact-718">
            <div class="cs-container">
                <!-- Optional picture section here, if you want to include an image -->
                <div class="cs-content">
                    <span class="cs-topper">Bonaventura Admin</span>
                    <h2 class="cs-title">Update Property Details in the Bonaventura Dashboard.</h2>
                    <form class="cs-form" action="/update_address" method="post">
                        <!-- Hidden ID Field -->
                        <input type="hidden" name="id" value="{{ property['id'] }}">

                        <label for="address">
                            <p class="cs-topper">Address</p>
                            <input class="cs-input" type="text" id="address" name="address"
                                value="{{ property['addresses'] }}" placeholder="Address" required readonly>
                        </label>

                        <label for="occupancy">
                            <p class="cs-topper">Occupancy</p>
                            <input class="cs-input" type="text" id="occupancy" name="occupancy"
                                value="{{ property['occupancy'] }}" placeholder="Occupancy" required>
                        </label>
                        

                   
                        <label for="bedrooms">
                            <p class="cs-topper">Bedrooms</p>
                            <input class="cs-input" type="number" id="bedrooms" name="bedrooms"
                                value="{{ property['bedrooms'] }}" placeholder="Bedrooms" required>
                        </label>

                  
                        <label for="bathrooms">
                            <p class="cs-topper">Bathrooms</p>
                            <input class="cs-input" type="number" id="bathrooms" name="bathrooms"
                                value="{{ property['bathrooms'] }}" placeholder="Bathrooms" required>
                        </label>

                 
                        <label for="livingArea">
                            <p class="cs-topper">Home SQFT</p>
                            <input class="cs-input" type="number" id="livingArea" name="livingArea"
                                value="{{ property['livingArea'] }}" placeholder="Living Area" required>
                        </label>

                     
                        <label for="lotSize">
                            <p class="cs-topper">Lot SQFT</p>
                            <input class="cs-input" type="number" id="lotSize" name="lotSize" value="{{ property['lotSize'] }}"
                                placeholder="Lot Size" required>
                        </label>

                        

    
                        
                        <label for="zpid">
                            <p class="cs-topper">ZillowPID</p>
                            <input class="cs-input" type="text" id="zpid" name="zpid" value="{{ property['zpid'] }}"
                                placeholder="ZPID" required readonly>
                        </label>

                 
                        <label for="county">
                            <p class="cs-topper">County</p>
                            <input class="cs-input" type="text" id="county"
                                name="county" value="{{ property['county'] }}"
                                placeholder="County" required readonly>
                        </label>

                        <label for="price">
                            <p class="cs-topper">Price</p>
                            <input class="cs-input" type="number" id="price"
                                name="price" value="{{ property['price'] }}"
                                placeholder="Price" required>
                        </label>

           
                        <button class="cs-button-solid cs-submit" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <p>© Bonaventura</p>
        </footer>
    </div>
</body>


</html>