<!DOCTYPE html>
<html>

<head>
    <title> BONAVENTURA LOGIN </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</head>

<body>
    <div class="wrapper">
        <header id="cs-navigation">
            <div class="cs-container">
                <!--Nav Logo-->
                <a href="{{ url_for('home') }}" class="cs-logo" aria-label="back to home">
                    <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="logo" width="210"
                        height="29" aria-hidden="true" decoding="async">
                </a>
                <!--Navigation List-->
                <nav class="cs-nav" role="navigation">
                    <!--Mobile Nav Toggle-->
                    <button class="cs-toggle" aria-label="mobile menu toggle">
                        <div class="cs-box" aria-hidden="true">
                            <span class="cs-line cs-line1" aria-hidden="true"></span>
                            <span class="cs-line cs-line2" aria-hidden="true"></span>
                            <span class="cs-line cs-line3" aria-hidden="true"></span>
                        </div>
                    </button>
                    <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
                    <div class="cs-ul-wrapper">
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="" class="cs-li-link cs-active">
                                    Home
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('pricing') }}" class="cs-li-link">
                                    Pricing
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('services') }}" class="cs-li-link">
                                    Services
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('properties_page') }}" class="cs-li-link">
                                    Properties
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <br>
        <br>
        <br>
        
        <section id="contact-718">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Bonaventura Login</span>

                    <form class="cs-form" action="/login" method="post">
                        <label for="username" class="cs-label">
                            Username
                            <input class="cs-input" type="text" id="username" name="username" placeholder="" required>
                        </label>
                        <label class="cs-label cs-password">
                            Password
                            <input class="cs-input" type="password" id="password" name="password" placeholder=""
                                required>
                        </label>
                        <button class="cs-button-solid cs-submit" type="submit">Login</button>
                        <a href="{{ url_for('login') }}" class="cs-li-link">
                            <p class="cs-topper">Reset Password</p>
                        </a>


                    </form>
                </div>
            </div>
        </section>

        <footer>
            <p>© Bonaventura</p>
        </footer>
    </div>

</body>

</html>