<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bonaventura</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script>
        window.onload = function() {
            var images = document.getElementsByClassName('property-image');
            for (var i = 0; i < images.length; i++) {
                // If the image is complete but has no width, it has failed to load
                if (images[i].complete && images[i].naturalWidth === 0) {
                    images[i].src = '{{ url_for("static", filename="images/background.jpg") }}';
                }
                images[i].onerror = function() {
                    this.src = '{{ url_for("static", filename="images/background.jpg") }}';
                };
            }
        };
    </script>
   
</head>

<body>
    <div class="wrapper">
        <header id="cs-navigation">
            <div class="cs-container">
                <a href="{{ url_for('home') }}" class="cs-logo" aria-label="back to home">
                    <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="logo" width="210"
                        height="29" aria-hidden="true" decoding="async">
                </a>
                <nav class="cs-nav" role="navigation">
                    <div class="cs-ul-wrapper">
                        {% if session['user_role'] == 2 %}
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="{{ url_for('admin') }}" class="cs-li-link">
                                    <p class="cs-topper">Calendar</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('upload_pdf') }}" class="cs-li-link">
                                    <p class="cs-topper">Upload PDF</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('admin_usercontrol') }}" class="cs-li-link">
                                    <p class="cs-topper">Users</p>
                                </a>
                            </li>
                            
                            <li class="cs-li">
                                <a href="{{ url_for('admin_bids') }}" class="cs-li-link">
                                    <p class="cs-topper">Bids</p>
                                </a>
                            </li>
                            
                            <li class="cs-li">
                                <a href="{{ url_for('edit_profile') }}" class="cs-li-link">
                                    <p class="cs-topper">Account</p>
                                </a>
                            </li>
                        </ul>
                        {% elif session['user_role'] == 1 %}
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="{{ url_for('agent') }}" class="cs-li-link">
                                    <p class="cs-topper">Calendar</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('upload_pdf') }}" class="cs-li-link">
                                    <p class="cs-topper">Upload PDF</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('edit_profile') }}" class="cs-li-link">
                                    <p class="cs-topper">Account</p>
                                </a>
                            </li>
                        </ul>
                        {% elif session['user_role'] == 0 %}
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="{{ url_for('subscriber') }}" class="cs-li-link">
                                    <p class="cs-topper">Calendar</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('my_bids') }}" class="cs-li-link">
                                    <p class="cs-topper">Bids</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('edit_profile') }}" class="cs-li-link">
                                    <p class="cs-topper">Account</p>
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="margin-left: 30px;" class="view-toggle">
            <button id="toggleViewBtn">Toggle View</button>
        </div>
        
        <div class="property-grid">
            {% for property in properties %}
            <div class="property-tile">
                <a href="{{ url_for('property_details', id=property['id']) }}" class="property-link">
                    {% if property.latest_photo_url %}
                        <!-- Check if latest_photo_url is a relative path and prepend with url_for -->
                        {% if property.latest_photo_url.startswith('static/images/') %}
                            <img class="property-image" src="{{ url_for('static', filename=property.latest_photo_url[7:]) }}" alt="Uploaded Property Photo" async>
                        {% else %}
                            <!-- If it's a complete URL, use it as is -->
                            <img class="property-image" src="{{ property.latest_photo_url }}" alt="Uploaded Property Photo" async>
                        {% endif %}
                    {% else %}
                        <!-- Handle property['photo_url'] similarly if needed -->
                        <img class="property-image" src="{{ property.photo_url }}" alt="Pending Drive By Photograph" async>
                    {% endif %}
                    <div class="property-content">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="text-align: left; color: #000000; font-weight: bolder;">Address</td>
                                    <td style="text-align: right; font-weight: bold;">{{ property['addresses']|split_address }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #000000; font-weight: bold;">County</td>
                                    <td style="text-align: right;">{{ property['county'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #000000; font-weight: bold;">Township</td>
                                    <td style="text-align: right;">{{ property['addresses']|split_city }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #000000; font-weight: bold;">Time of Sale</td>
                                    <td style="text-align: right;">{{ property['timeOfSale'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #000000; font-weight: bold;">Opening Bid</td>
                                    {% if property['openingBid'] == 0 %}
                                    <td style="text-align: right;">Not Determined</td> 
                                    {% else %}
                                    <td style="text-align: right;">{{ property['openingBid']|format_currency }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #000000; font-weight: bold;">ARV</td>
                                    {% if property['afterRehabValue'] == 0 %}
                                    <td style="text-align: right;">Not Determined</td> 
                                    {% else %}
                                    <td style="text-align: right;">{{ property['afterRehabValue']|format_currency }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #000000; font-weight: bold;">Occupancy</td>
                                    <td style="text-align: right;">{{ property['occupancy'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
                {% if session['user_role'] == 1 or session['user_role'] == 2 %}
                    <div class="property-buttons">
                        <a href="{{ url_for('edit_address', id=property['id']) }}" class="cs-button-4">Edit</a>
                        <a href="{{ url_for('delete_address', id=property['id']) }}" class="cs-button-4">Delete</a>
                    </div>
                {% endif %}
            </div>
            {% else %}
            <p>No properties available for this day.</p>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleBtn = document.getElementById('toggleViewBtn');
            const propertyGrid = document.querySelector('.property-grid');
    
            toggleBtn.addEventListener('click', function() {
                propertyGrid.classList.toggle('list-view');
                
                // Update button text based on current view
                if(propertyGrid.classList.contains('list-view')) {
                    toggleBtn.textContent = 'Switch to Grid View';
                } else {
                    toggleBtn.textContent = 'Switch to List View';
                }
            });
        });
    </script>
</body>
</html>