<!DOCTYPE html>
<html>

<head>
    <title>BONAVENTURA HOME</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">



</head>

<body>
    <div class="wrapper">
        <header id="cs-navigation">
            <div class="cs-container">
                <!--Nav Logo-->
                <a href="{{ url_for('home') }}" class="cs-logo" aria-label="back to home">
                    <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="logo" width="210"
                        height="29" aria-hidden="true" decoding="async">
                </a>

            </div>
        </header>
        <div style="text-align: center; margin-bottom: 20px;">
            <form action="{{ url_for('home') }}" method="get">
                <label for="county">Select County:</label>
                <select name="county" id="county">
                    <option value="">All Counties</option>
                    {% for county in counties %}
                    <option value="{{ county }}" {% if request.args.get('county')==county %}selected{% endif %}>{{
                        county }}</option>
                    {% endfor %}
                </select>
                <button type="submit">SORT</button>
            </form>
        </div>

        <div class="property-grid">
            {% for property in properties %}
            <div class="property-tile">
                <a href="{{ url_for('property_details', id=property['id']) }}" class="property-link">
                    <img class="property-image" src="{{ property['photo_url'] }}" alt="Property Image">
                    <div class="property-content">
                        <h3>{{ property['addresses'] }}</h3>
                        <h4>- DETAILS -</h4>
                        <p> {{ property['bedrooms'] }} BEDROOMS</p>
                        <p> {{ property['bathrooms'] }} BATHROOMS</p>
                        <p>{{ property['livingArea'] }} INTERIOR SQFT</p>
                        <p>{{ property['lotSize'] }} SQFT OF LAND</p>
                        <p>{{ property['county'] }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>