<!DOCTYPE html>
<html>

<head>
    <title>Bonaventura</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/backgroundwithmap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    
    
</head>


<body>
    <div class="wrapper">
        <div style="margin-left: 40%; margin-right: 40%; font-size:x-large;">
            <p style="font-weight: bold;">1. Introduction</p>
            <p>Welcome to Bonaventura Reality. By subscribing to our services, you agree to be bound by these Terms and
                Conditions. Please read them carefully.</p>

            <p style="font-weight: bold;">2. Subscription Terms</p>
            <p>2.1. Your subscription to Bonaventura Reality services will automatically renew each month.</p>
            <p>2.2. The renewal charge will be the same as the initial subscription fee unless you are notified
                otherwise.</p>
            <p>2.3. Your subscription renewal date will be the same day of the month as when your subscription was
                initially activated.</p>
            <p style="font-weight: bold;">3. Cancellation Policy</p>
            <p>3.1. You may cancel your subscription at any time.</p>
            <p>3.2. To cancel your subscription, please follow the cancellation procedures set forth on our website.</p>
            <p>3.3. Upon cancellation, you will continue to have access to the Bonaventura Reality services until the
                end
                of your current billing cycle.</p>
            <p style="font-weight: bold;">4. Use of Data</p>
            <p>4.1. The data provided to you through Bonaventura Reality services is for your personal and
                non-commercial
                use only.</p>
            <p>4.2. You agree not to sell, distribute, or otherwise make available such data to third parties.</p>
            <p>4.3. Unauthorized use of the data provided is strictly prohibited and may result in termination of your
                subscription and legal action.</p>
            <p style="font-weight: bold;">5. User Conduct</p>
            <p>5.1. As a user, you agree to comply with all applicable laws and regulations.</p>
            <p>5.2. You are responsible for maintaining the confidentiality of your account information, including your
                password.</p>
            <p>5.3. Any unauthorized use of your account or other breach of security must be immediately reported to
                Bonaventura Reality.</p>
            <p style="font-weight: bold;">6. Disclaimer of Warranties</p>
            <p>6.1. Bonaventura Reality services are provided "as is" without any warranties of any kind, either
                express or
                implied.</p>
            <p>6.2. To the fullest extent permissible pursuant to applicable law, Bonaventura Reality disclaims all
                warranties, express or implied, including, but not limited to, implied warranties of merchantability and
                fitness for a particular purpose.</p>
            <p style="font-weight: bold;">7. Limitation of Liability</p>
            <p>7.1. Bonaventura Reality shall not be liable for any indirect, incidental, special, consequential, or
                punitive damages, including without limitation, loss of profits, data, use, goodwill, or other
                intangible
                losses, resulting from (i) your access to or use of or inability to access or use the services; (ii) any
                conduct or content of any third party on the services; (iii) any content obtained from the services; and
                (iv) unauthorized access, use, or alteration of your transmissions or content.</p>

            <p style="font-weight: bold;">8. Changes to Terms and Conditions</p>
            <p>8.1. Bonaventura Reality reserves the right to modify or replace these Terms and Conditions at any time.
            </p>
            <p>8.2. We will provide notice of any changes by posting the updated Terms and Conditions on our website.
            </p>
            <p style="font-weight: bold;">9. Governing Law</p>
            <p>9.1. These Terms and Conditions shall be governed by and construed in accordance with the laws of New
                York,
                United States.</p>
            </p>

        </div>
        <footer>
            <p>© Bonaventura</p>
        </footer>

    </div>
</body>

</html>