<!DOCTYPE html>
<html>

<head>
    <title>BONAVENTURA HOME</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdowns = document.querySelectorAll('.dropdown-btn');
            dropdowns.forEach(dropdown => {
                dropdown.addEventListener('click', function() {
                    this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'block' ? 'none' : 'block';
                });
            });
        });
    </script>
    <script>
        function toggleFavorite(button) {
            button.classList.toggle('favorited');
        }
    </script>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <style>
        .favorite-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 1.5em; /* Adjust size as needed */
        }
    
        .favorited {
            color: red; /* Change as desired, e.g., to a filled heart or different color */
        }
    </style>
        
</head>

<body>
    <div class="wrapper">
        <header id="cs-navigation">
            <div class="cs-container">
                <!--Nav Logo-->
                <a href="{{ url_for('home') }}" class="cs-logo" aria-label="back to home">
                    <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="logo" width="210"
                        height="29" aria-hidden="true" decoding="async">
                </a>
                <nav class="cs-nav" role="navigation">
                    <!--Mobile Nav Toggle-->
                    <button class="cs-toggle" aria-label="mobile menu toggle">
                        <div class="cs-box" aria-hidden="true">
                            <span class="cs-line cs-line1" aria-hidden="true"></span>
                            <span class="cs-line cs-line2" aria-hidden="true"></span>
                            <span class="cs-line cs-line3" aria-hidden="true"></span>
                        </div>
                    </button>
                    <div class="cs-ul-wrapper">
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="{{ url_for('edit_profile') }}" class="cs-li-link">
                                    <p class="cs-topper">Account</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="" class="cs-li-link">
                                    <p class="cs-topper">Favorites</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="" class="cs-li-link">
                                    <p class="cs-topper">Bids</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>

            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="calendar-grid">
            {% for formatted_date, properties_on_date in properties_by_date.items() %}
                <div class="day-dropdown">
                    <button class="dropdown-btn">{{ formatted_date }} ({{ properties_on_date|length }} Properties)</button>
                    <div class="dropdown-content">
                        {% for property in properties_on_date %}
                        <div class="property-tile">
                            <!-- Wrap the contents in an anchor tag -->
                            <a href="{{ url_for('property_details', id = property['id']) }}" class="property-link">
                                <img class="property-image" src="{{ property['photo_url'] }}" alt="Agent Uploading Image Soon">
                                <div class="property-content">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left; color: #808080;">Address</td>
                                                <td style="text-align: right; font-weight: bold;">{{ property['addresses'] }}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #808080;">Time of Sale</td>
                                                <td style="text-align: right; font-weight: bold;">{{ property['timeOfSale'] }}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #808080;">County</td>
                                                <td style="text-align: right; font-weight: bold;">{{ property['county'] }}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #808080;">Sqft</td>
                                                <td style="text-align: right; font-weight: bold;">{{ property['livingArea'] }}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color: #808080;">Acres</td>
                                                <td style="text-align: right; font-weight: bold;">
                                                    {% if property['lotSize'] %}
                                                    {{ "%.2f"|format((property['lotSize']) / 43560) }}
                                                    {% else %}
                                                    Not Available
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i style="text-align: left;" class="fi fi-ss-bed-empty"></i></td>
                                                <td style="text-align: right; font-weight: bold;">{{ property['bedrooms'] }}</td>
                                            </tr>
                                            <tr>
                                                <td><i style="text-align: left;" class="fi fi-ss-shower"></i></td>
                                                <td style="text-align: right; font-weight: bold;">{{ property['bathrooms'] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </a>
                            <div class="property-buttons">
                                <a href="{{ url_for('bid', id=property['id'], address=property['address']) }}" class="cs-button-4" aria-label="read more about us">Bid</a>
                                <button class="favorite-button" onclick="toggleFavorite(this)">❤</button>      
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <footer>
            <p>© Bonaventura</p>
        </footer>
    </div>


</body>

</html>