<!DOCTYPE html>
<html>

<head>
    <title>Bonaventura</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background_color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-718.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cs-button-6.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery-45.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-82.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero-408.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/property-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/draganddrop.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script>
        let dropArea = document.getElementById('drop-area');

        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false);
        });

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false);
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false);
        });

        function highlight() {
            dropArea.classList.add('highlight');
        }

        function unhighlight() {
            dropArea.classList.remove('highlight');
        }

        dropArea.addEventListener('drop', handleDrop, false);

        function handleDrop(e) {
            let dt = e.dataTransfer;
            let files = dt.files;

            handleFiles(files);
        }

        function handleFiles(files) {
            ([...files]).forEach(uploadFile);
            document.getElementById('fileElem').files = files; // This sets the files for the form
        }

        function uploadFile(file) {
            let url = '/upload_pdf';
            let formData = new FormData();
            formData.append('file', file);

            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    return response.text(); // Assuming the server sends a success message
                } else {
                    throw new Error('Upload failed');
                }
            })
            .then(result => {
                document.getElementById('feedback').innerText = 'Upload successful: ' + result;
                document.getElementById('feedback').style.color = 'green';
            })
            .catch(error => {
                document.getElementById('feedback').innerText = 'Upload error: ' + error.message;
                document.getElementById('feedback').style.color = 'red';
            });
        }
    </script>

</head>

<body>
    <div class="wrapper">
        <header id="cs-navigation">
            <div class="cs-container">
                <!--Nav Logo-->
                <a href="{{ url_for('admin') }}" class="cs-logo" aria-label="back to home">
                    <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="logo" width="210"
                        height="29" aria-hidden="true" decoding="async">
                </a>
                <!--Navigation List-->
                <nav class="cs-nav" role="navigation">
                    <!--Mobile Nav Toggle-->
                    <button class="cs-toggle" aria-label="mobile menu toggle">
                        <div class="cs-box" aria-hidden="true">
                            <span class="cs-line cs-line1" aria-hidden="true"></span>
                            <span class="cs-line cs-line2" aria-hidden="true"></span>
                            <span class="cs-line cs-line3" aria-hidden="true"></span>
                        </div>
                    </button>
                    <div class="cs-ul-wrapper">
                        {% if session['user_role'] == 2 %}
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="{{ url_for('admin') }}" class="cs-li-link">
                                    <p class="cs-topper">Calendar</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('upload_pdf') }}" class="cs-li-link">
                                    <p class="cs-topper">Upload PDF</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('admin_usercontrol') }}" class="cs-li-link">
                                    <p class="cs-topper">Users</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('admin_bids') }}" class="cs-li-link">
                                    <p class="cs-topper">Bids</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('edit_profile') }}" class="cs-li-link">
                                    <p class="cs-topper">Account</p>
                                </a>
                            </li>

                        </ul>
                        {% elif session['user_role'] == 1 %}
                        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                            <li class="cs-li">
                                <a href="{{ url_for('agent') }}" class="cs-li-link">
                                    <p class="cs-topper">Calendar</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('upload_pdf') }}" class="cs-li-link">
                                    <p class="cs-topper">Upload PDF</p>
                                </a>
                            </li>
                            <li class="cs-li">
                                <a href="{{ url_for('edit_profile') }}" class="cs-li-link">
                                    <p class="cs-topper">Account</p>
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table align="center" width="1000">
            <tbody>
                <tr align="center" width="100%">
                    <td align="center" width="100%"> 
                        <form id="upload-container" action="/upload_pdf" method="post" enctype="multipart/form-data">
                            <span class="cs-topper">Add a PDF to Bonaventura.</span>
                            <div id="drop-area">
                                <p>Drag and drop a PDF file here, or click to select a file.</p>
                                <input type="file" id="fileElem" name="file" accept="application/pdf" style="display:none" onchange="handleFiles(this.files)">
                                <label class="button" for="fileElem">Select a file</label>
                            </div>
                            <div id="feedback" style="color: green; margin-top: 10px;"></div> <!-- Feedback area -->
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>


                    
 
    </div>

</body>

</html>